.App {
  height: 100%;
}
.App__container {
  height: 100%;
  display: grid;
  place-items: center;
}
.fp-section {
  display: grid;
  place-items: center;
}
.fp-tableCell {
  display: grid !important;
  place-items: center;
}
#works .fp-tableCell {
  display: flex !important;
  align-items: center;
}
.Sound {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.Sound img {
  width: 25px;
  object-fit: contain;
  margin-right: 5px;
}
