.App {
  height: 100%;
  position: relative;
}
.navigation {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100000;
}
.navItem {
  display: flex;
  align-items: baseline;
}
.navItem > h2 {
  color: #fff;
  font-size: 14px;
  position: absolute;
  left: -70px;
  opacity: 0;
  transform: translateY(-6px);
}
.nav {
  width: 30px;
  height: 3px;
  background: #fff;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 3px;
}

.nav:hover ~ h2 {
  opacity: 1;
}
.nav__current {
  width: 50px;
}
.App__container {
  height: 100%;
  display: grid;
  place-items: center;
}
.fp-section {
  display: grid;
  place-items: center;
}
.fp-tableCell {
  display: grid !important;
  place-items: center;
}
#works .fp-tableCell {
  display: flex !important;
  align-items: center;
}
.Sound {
  position: fixed;
  top: 10px;
  cursor: pointer;
  right: 10px;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.Sound img {
  width: 25px;
  object-fit: contain;
  margin-right: 5px;
}
.loading {
  position: absolute;
  bottom: 30px;
}
