* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#fp-nav.fp-right {
  right: 30px;
  width: 40px;
}
#fp-nav ul {
  width: 100%;
}
#fp-nav ul li {
  margin: 20px 0;
  width: 100%;
}
#fp-nav ul li a span {
  width: 50%;
  height: 3px;
  border-radius: 0;
  margin: 0;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 100%;
  height: 3px;
  border-radius: 0;
  margin: 0;
}
#fp-nav ul li:hover a span {
  width: 100%;
  height: 3px;
  border-radius: 0;
  margin: 0;
}
#fp-nav ul li .fp-tooltip.fp-right {
  right: 30px;
}
#fp-nav ul li .fp-tooltip {
  color: #000;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}
